<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head"></head>
<body>


	<header th:replace="layaout/layaout :: header"></header>


	<div class="container py-4">
		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">




				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/ver/' + ${estudiante.monitoria.id}}"
						th:text="'&laquo; volver'"></a>
				</h4>



				<form th:action="@{/estudiante/form/}" th:object="${estudiante}"
					method="post">


										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Confirma tu nombre:</label>
											<div class="col-sm-6">
												<input type="text" th:field="*{nombre}" class="form-control"
													th:errorclass="'form-control alert-danger'" /> <small
													class="form-text text-danger"
													th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Confirma tu apellido: </label>
											<div class="col-sm-6">
												<input type="text" th:field="*{apellido}" class="form-control"
													th:errorclass="'form-control alert-danger'" /> <small
													class="form-text text-danger"
													th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
											</div>
										</div>


					<!-- 					<div class="form-group row"> -->
					<!-- 						<label class="col-sm-2 col-form-label">Promedio</label> -->
					<!-- 						<div class="col-sm-6"> -->
					<!-- 							<input type="text" th:field="*{promedio}" class="form-control" -->
					<!-- 								th:errorclass="'form-control alert-danger'" /> <small -->
					<!-- 								class="form-text text-danger" -->
					<!-- 								th:if="${#fields.hasErrors('promedio')}" th:errors="*{promedio}"></small> -->
					<!-- 						</div> -->
					<!-- 					</div> -->


					<!-- 					<div class="form-group row"> -->
					<!-- 						<label class="col-sm-2 col-form-label">Materia</label> -->
					<!-- 						<div class="col-sm-6"> -->
					<!-- 							<input type="text" th:field="*{promedio}" class="form-control" -->
					<!-- 								th:errorclass="'form-control alert-danger'" /> <small -->
					<!-- 								class="form-text text-danger" -->
					<!-- 								th:if="${#fields.hasErrors('materia')}" th:errors="*{materia}"></small> -->
					<!-- 						</div> -->
					<!-- 					</div> -->



					<!-- 					<div class="form-group row"> -->
					<!-- 						<label class="col-sm-2 col-form-label">Creditos</label> -->
					<!-- 						<div class="col-sm-6"> -->
					<!-- 							<input type="text" th:field="*{creditos}" class="form-control" -->
					<!-- 								th:errorclass="'form-control alert-danger'" /> <small -->
					<!-- 								class="form-text text-danger" -->
					<!-- 								th:if="${#fields.hasErrors('creditos')}" th:errors="*{creditos}"></small> -->
					<!-- 						</div> -->
					<!-- 					</div> -->

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Digita tu codigo: '"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_programa" id="buscar_programa"
								class="form-control" />
						</div>
					</div>

					<table
						th:replace="estudiante/plantilla-estudiante :: itemsEstudiante"></table>

					<table id="cargarItemEstudiantes"
						class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Codigo</th>
								<th>Nombre</th>
								<th>Apellidos</th>
								<th>Promedio</th>
								<th>Materias</th>
								<th>Creditos</th>
								<th>Programa</th>
								<th>Descuento</th>
								
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					
					

					<div class="form-group row">
						<div class="col-sm-6">
							<input class="btn btn-success" type="submit" value="Inscribirme" />
						</div>
					</div>


				</form>


			</div>
		</div>
	</div>

	<footer th:replace="layaout/layaout :: footer"></footer>
	<script th:replace="estudiante/js/autocomplete_programas :: javascript"></script>

</body>
</html>